  html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
  }

  body{
    background-color: gray;
  }

  .divge {
    position: fixed;
    left: 13%;
    top: 10%;
    height: 110%;
    width: 110%;
  }
  
  .btn1{
    position: fixed;
    text-align: right;
    bottom: 8%;
    right: 22%;
    width: 5.5%;
  }

  .btn2{
    position: fixed;
    text-align: right;
    bottom: 8%;
    right: 10%;
    width: 5.5%;
  }

  .btn3{
    position: fixed;
    text-align: right;
    bottom: 8%;
    right: 34%;
    width: 5.5%;
  }

  button{
    height: 200%;
    width: 200%;
    font-size: 200%;
    cursor: pointer;
  }

  #topLeft{
    font-size: 150%;
    position: fixed;
    color: black;
    left: 1%;
    bottom: -1%
  }

  #btn{
    height: 4%;
    width: 2%;
    position: fixed;
    display: none;
  }

  #flop0{
    display: none;
    height: 15%;
    width: 5.5%;
    position: fixed;
    top: 35%;
    left: 33%;
  }

  #flop1{
    display: none;
    height: 15%;
    width: 5.5%;
    position: fixed;
    top: 35%;
    left: 39%;
  }

  #flop2{
    display: none;
    height: 15%;
    width: 5.5%;
    position: fixed;
    top: 35%;
    left: 45%;
  }

  #turn{
    display: none;
    height: 15%;
    width: 5.5%;
    position: fixed;
    top: 35%;
    left: 51%;
  }

  #river{
    display: none;
    height: 15%;
    width: 5.5%;
    position: fixed;
    top: 35%;
    left: 57%;
  }

  #pot{
    display: none;
    font-size: 150%;
    color: white;
    position: fixed;
    top: -1%;
    left: 1%;
  }

  #rake{
    display: block;
    font-size: 150%;
    color: white;
    position: fixed;
    top: 6%;
    left: 1%;
  }

  #keys{
    margin-top: 8%;
    margin-left: 1%;
  }

  #keys p{
    font-size: 150%;
  }

  #key0{
    color: lightgreen;
  }
  
  #key1{
    color: lightsalmon;
  }

  #key2{
    color: lightcoral;
  }
  